/* MIO instruction manual */
body { color: #444; font: normal 16px/24px Helvetica,Arial,sans-serif; margin:0px}
p { margin-bottom: 20px; }
.content-wrapper {margin: 0 auto; margin-bottom: 200px; max-width: 800px; }
a{ color:#444}
small{ font-size:11px}
.header{ background-color:#383434; padding-top:5px;  }
.logo{margin: 0 auto;  max-width: 800px;}
.gototop { width: 60px; height: 60px; display: block; position: fixed; top: 20px; right: 20px; background: url(../images/gototop.png);}

